*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

header{
    background-image: url(../img/pattern.png);
    height: 70px 50px;
    background-color: rgb(0, 150, 250);
}

.intestazione{
    height: 50px;
}